body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.section-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #1f2937;
}

.header {
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}

.header-links {
    display: flex;
    margin-left: auto;
    gap: 20px;
    font-size: 18px;
}

.content-1 {
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 40px;
}

.first-card {
    flex: 1;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    color: #f9faf8;
}

.second-card {
    flex: 1;
    background-color: grey;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up {
    width: 120px;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 0;
    background-color: #3882f6;
    color: white;
    border-radius: 7px; 
    font-weight: bold; 
    padding-top: 5px;
    padding-bottom: 5px; 
} 

.bold {
    font-size: 48px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.normal {
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 10px;
    margin-right: 50px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;

}

.second-card {
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #6D747D;
}

ul a, ul {
    color: #f9faf8;
    text-decoration: none;
    list-style-type: none;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;

}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.child-1 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding-top: 10px;
}

.child-2 {
    display: flex;
    gap: 30px;
}

.empty {
    width: 130px; 
    height: 130px; 
    border: solid #3882f6 3px;
    border-radius: 13px;
    margin-bottom: 5px;
}

.text {
    width: 130px;
    text-align: center;
}